<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/665a9133-2af6-498d-8752-7f24d4f481ff/resourcegroups/TraceEventWeb20230428204556ResourceGroup/providers/Microsoft.Web/sites/TraceEventWeb</ResourceId>
    <ResourceGroup>TraceEventWeb20230428204556ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/665a9133-2af6-498d-8752-7f24d4f481ff/resourceGroups/TraceEventWeb20230428204556ResourceGroup/providers/Microsoft.ApiManagement/service/TraceEventWebapi/apis/TraceEventWeb</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://traceeventweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3ccfaade-997e-4b79-9a35-cfa476e402ff</ProjectGuid>
    <MSDeployServiceURL>traceeventweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TraceEventWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TraceEventWeb</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>